cloudshell-shell-firewall-standard
cloudshell-shell-flows
cloudshell-cli
cloudshell-snmp
cloudshell-automation-api
cloudshell-shell-core
cloudshell-logging

cloudshell-shell-standards

cloudshell-f5>=2.0.0